body {
  margin:0;
  font-family:'Helevica',sans-serif;
}

#navbar{
  min-height:50px;
  background:rgb(25, 118, 210);
}
#navbar ul {
  margin:0;
}
#navbar ul li{
  float:left;
  list-style:none;
}
#navbar ul li a{
  padding-left:10px;
  padding-right:10px;
  line-height: 50px;
  color: rgb(255,255,255);
  text-decoration:none;
}
