body {
  margin:0;
  font-family:'Helevica',sans-serif;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}

#navbar{
  background:rgb(25, 118, 210);
}
#navbar ul {
  margin:0;
  padding:0;
}
#navbar ul li{
  padding-left:10px;
  padding-right:10px;
  float:left;
  list-style:none;
}
#navbar ul li:hover {
  background: rgb(0,0,255);
}

#navbar ul li a{
  line-height: 50px;
  color: rgb(255,255,255);
  text-decoration:none;
}
.nav-active{
  background: rgb(0,0,255);
}
.container {
  max-width:1400px;
  margin:0 auto;
}
#jumbo {
  background:rgb(33, 150, 243);
}
#jumbo .container * {
  color:white;
  margin:0;
}
